.card-list{
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(300px, 305px));
  grid-gap: 20px;
  grid-auto-rows: minmax(150px, auto);
  margin-left: 30px;
  margin-right: 30px;
}
