.button-primary{
  background: #2B2D2F;
  font: bold 1rem/1 poppins;
  color: black;
  height: 40px;
  width: 150px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 4px;
}