.background{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(252, 249, 249, 0.5);


}
.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 300px;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  border-radius: 10px;
}

.close-modal{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.button-modal{
  position: absolute;
  &:nth-of-type(1){
    bottom: 10px;
  }
  &:nth-of-type(2){
    bottom: 10px;
    left: 70px;
  }
}